body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    background-color: #000;
    width: 100%;
}

.header {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    background-color: #000;
}

.starbox {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}
.hamilstar {
    margin: 0px auto;
    display: block;
    width: 800px;
}
.whitebox {
    position: relative;
    margin: -460px auto;
    width: 500px;
    height: 350px;
    border: 0px #000 solid;
    color: #fff;
    z-index: 2;
    overflow: auto;
    text-align: center;
}
.music {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 450px auto;
}
#timeLeft {
    margin-top: 10px;
}

h1 {
    color: #fff;
    font-size: 9.5vw;
    font-family: 'Cinzel', serif;
}
h2 {
    font-size: 2vw;
    color: #d49e3e;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5vw;
    color: #ccc;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.btn, .btn-primary {
    margin-top: 120px;
    background-color: #a16526;
    border: 2px #aaa solid;
}

.btn:hover, .btn-primary:hover {
    margin-top: 120px;
    background-color: #f6c049;
    color: #000;
    border: 2px #aaa solid;
}

#startOverBtn {
    background-color: #a16526;
    line-height: 40px;
    cursor: pointer;
    width: 125px;
    margin: 40px auto;
    align-content: center;

}

/* Smartphones */
@media only screen and (max-width: 300px) {
    body {
        background-image: url("../images/verticlebg.png");
    }
    .starbox {
        margin-top: 100px;
    }
    .hamilstar {
        width:90%;
    }
    .whitebox {
        margin: -300px auto;
        height: 500px;
        width: 380px;
        background: rgba(0, 0, 0, 1);
    }
    .music {
        position: relative;
        width: 300px;
        height: auto;
        margin: 320px auto;
    }

}

/* Ipads, Tables, etc */
@media only screen and (max-width: 768px) {
    body {
        background-image: url("../images/verticlebg.png");
        background-attachment: scroll;
    }
    .header {
        height: 25%;
    }
    .starbox {
        margin-top: 100px;
    }
    .hamilstar {
        width:700px;
    }
    .whitebox {
        margin: -450px auto;
        height: 400px;
        width: 380px;
    }
}